* {
    margin: 0;
    padding: 0;
    font-family: "Arimo", sans-serif;
}


/* Nav CSS start */
.navbar {}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
    max-width: 1200px;
    margin: auto;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;

}

.menu a {
    text-decoration: none;
    color: #64748b;
}

.menu a:hover {
    color: #0f172a;
}

/* Register Button */
.register-btn {
    background-color: #1D4ED8;
    padding: 12px 12px;
    border-radius: 5px;
    color: #ffffff;
    border: none;
}

.register-btn:hover {
    background-color: #64748b;
}

/* Register Button */

/* Nav CSS End */

/* Banner */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
}

.header-content {
    color: white;
    text-align: center;
    display: grid;
    gap: 60px;
}

.header-content button {
    /* padding: 12px 12px;
    border-radius: 5px;
    border: none; */
    /*  */
    /* font-size: 16px;
    font-weight: 700;
    padding: 12px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 12px; */
    margin-top: 10px;
    padding: 20px 35px;
    justify-self: center;
    font-size: 15px;
}

.header-content h1 {
    font-size: clamp(36px, 5vw, 68px);
    font-weight: 700;
    letter-spacing: -1px;
}

.header-content h1 em {
    font-style: italic;
    font-weight: 700;
}

.register-parent {
    margin-top: 90px;
}

/* Speaker Section */

.speaker-parent {
    text-align: center;
    margin-top: 80px;
    max-width: 1200px;
    margin: 96px 150px;
    padding: 0 48px;
    justify-content: center;
}

.speaker-grid-parent {  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 48px;
    gap: 32px;
}

.speaker-title {
    font-size: 40px;
    font-weight: 700;
    color: #0f172a; 
    letter-spacing: -1px;
    justify-content: center;
}

.speaker-card{
    background-color: #ffffff;
    border: 1px solid #e2e8f0; 
    border-radius: 12px;          
    overflow: hidden;   
    display: flex;
    flex-direction: column;
}

.card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px; 
    text-align: left;
}
 
.card-content p {
    color: #64748b;
    font-size: 15px;
    font-weight: 400;
}
